.div1{
    padding-left: 60px;
    padding-right: 60px;
}
.carousel-inner{
    height : 550px !important;
    object-fit: cover;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    overflow: hidden;
     border-radius: 10px;
}
.carousel-inner img{
    height:530px;
    border-radius: 10px;
    object-fit: fill;
    overflow: hidden;
}
