.card{
    height: auto !important;
    width: 18rem;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 3ms ease;
    border-radius: 0px;
    border: 1px solid black;
}


.card img{
    height: 250px;
    width: 100%;
    object-fit: contain;  
    padding: 10px;
    transition: transform 0.3s ease;
}


.card img:hover{
    transform: scale(1.05);
}

.card-body{
    display: flex;
    flex-direction: column;
}

.desc-text{
    max-height: 72px;
    overflow: hidden;
}

.title{
    max-height: 20px;
    overflow: hidden;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.card-body a{
    margin-top: auto;
}
.b-text{
    text-align: center;
}
.view-btn {
    padding: 10px;
    border: none;
    background: #2c2d2d;
    color: white;
    font-family:monospace;
    
}

