.div1{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif ;
}

.navbar-nav{
    margin: auto;          
}
.nav-link{
    margin: 0 20px;
    font-size: 14px;
    letter-spacing: 2px;
}


.nav-link:hover{
    color: #191818;
}