<app-carousel></app-carousel>
<div class="container d-flex justify-content-around flex-wrap">
    <h2 style="font-family:serif;padding-top: 30px;">Latest Products</h2>
  <div class="row g-5">
@for (item of products; track item.id; let i = $index) {
  @if (i < 4) {
    <div class="col-3">
      <app-card [product]="item"></app-card>
    </div>
  }
}
  </div>
  
</div>
<section class="sect bg-body-tertiary">
    <div class="container">
         <div class="row">
    <div class="col-sm-8">
        <div class="about">Ahout us</div>
        <p>Welcome to SparkWear, your one-stop destination for style, elegance, and modern lifestyle products. Our mission is to bring together fashion, accessories, and technology in one convenient place, making shopping simple, enjoyable, and reliable for everyone.</p>
        <p>At SparkWear, we carefully select products that combine quality, design, and affordability. Whether you are looking for stylish clothing, beautiful ornaments, elegant rings, or powerful speakers to enhance your music experience, we offer a wide variety of items to match your taste and lifestyle.</p>
        <div class="divsec">
            <div class="box">
                <h6>Our Vision</h6>
                <p class="p1">Our vision is to become a trusted online store where customers can find fashion, accessories, and technology products that enhance their everyday life.</p>
                <p></p>
            </div>
        <div class="box">
            <h6>Our Commitment</h6>
            <p class="p1">We believe shopping should be easy, enjoyable, and trustworthy. That’s why we are committed to providing great products, smooth shopping experiences, and excellent customer support.</p>
        </div>
    </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://pyxis.nymag.com/v1/imgs/c60/867/8caa86e7506e2ae90de21fd595760e8d4f-closets-iris-apfel-lede.rhorizontal.w1100.jpg" alt="profile">
        </div>
        <div class="accordion">
            <app-accordian></app-accordian>
        </div>
        </div>
    </div>
  </div>
 
</section>
